:root {
    --font-primary-color: rgb(121, 121, 121);
    --font-darked-color: #000;
    
    --bg-light-color: rgb(121, 121, 121);
    --bg-primary-color: rgb(121, 121, 121);
    --bg-darked-color: #000;
}