.modal__box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: var(--bg-primary-color);
    padding: 24px;
    width: 33%;
    @media (max-width: 767px){
        width: 80vw;
    }
}

.modal__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 26px;
    & h4{
        font-size: 24px;
        font-weight: 500;
        color: var(--font-primary-color);
    }
    & button{
        height: 32px;
        width: 32px;
        & span{
            color: var(--font-primary-color) !important;
            transition: all .3s ease 0s;
            &:hover{
                color: #B3B3B3 !important;
                transition: all .3s ease 0s;
            }
        }
    }
}