.user-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding: 0px 25px 0px 20px;
    cursor: pointer;
    &__avatar{
        position: relative;
        border-radius: 50%;
        &_status{
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            border: 1px solid #fff;
            width: 10px;
            height: 10px;
            background: green;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2px;
        &_row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            & h4{
                font-weight: 500;
                font-size: 14px;
                color: var(--font-primary-color);
                &.user-row__info_row-message{
                    opacity: 0.45;
                    &--typing{
                        opacity: 1;
                        color: #27AE60;
                    }
                }
            }
            & span{
                font-size: 12px;
                color: var(--font-primary-color);
            }
        }
    }
}