:root {
    --font-light-color: #fff;
    --font-primary-color: #000;
    --font-darked-color: #00000073;
    --font-transparent-color: #a1a1a1;

    --bg-light-color: #fff;
    --bg-primary-color: #fff;
    --bg-darked-color: #FAFAFA;
    --bg-dark-color: #EEEEEE;
}